<section id="contatos">
    <div class="link">
      <div class="buttons">
        <a href="mailto:diogo.mz123@gmail.com" target="_blank" data-aos="fade-down-right" data-aos-delay="200">
          <div class="margin">
            <button>
              <img src="./assets/email.png" alt="gmail" />
              <h1>Email</h1>
            </button>
          </div>
        </a>
  
        <a href="https://github.com/Diog007" target="_blank" data-aos="fade-down-right" data-aos-delay="200">
          <div class="margin">
            <button>
              <img src="./assets/gitcont.png" alt="linkedin" />
              <h1>Git Hub</h1>
            </button>
          </div>
        </a>
  
        <a href="https://github.com/Diog007" target="_blank" data-aos="fade-down-right" data-aos-delay="200">
          <div class="margin">
            <button>
              <img src="./assets/linkedincont.png" alt="git" />
              <h1>LinkedIn</h1>
            </button>
          </div>
        </a>
        <a href="https://wa.me/11959633957" data-aos="fade-down-right" data-aos-delay="200">
            <div class="margin">
              <button>
                <img src="./assets/whats.png" alt="git" />
                <h1>WhatsApp</h1>
              </button>
            </div>
          </a>
      </div>
    </div>
  </section>
  