<header class="tudo">
  <nav class="navbar navbar-expand-lg nav sticky-top fixed-top shadow" style="background-color: #09212e;">

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex; align-items: center;"> <!-- Modificado para flex -->
          <img src="./assets/rgr.png" alt="Logo" >
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#sobre">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#formacao">Formação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#projetos">Meus Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#contatos">Contato</a>
          </li>
        </ul>
      </div>
  </nav>
</header>
