<header class="navbar-container">
  <nav class="navbar">
    <div class="logo">
      <img src="./assets/logo1.png" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a href="#home" [class.active]="isActive('home')" class="nav-item">Home</a></li>
      <li><a href="#sobre" [class.active]="isActive('sobre')" class="nav-item">Sobre Mim</a></li>
      <li><a href="#certificados" [class.active]="isActive('certificados')" class="nav-item">Certificações</a></li>
      <li><a href="#skills" [class.active]="isActive('skills')" class="nav-item">Skills</a></li>
      <li><a href="#formacao" [class.active]="isActive('formacao')" class="nav-item">Formação</a></li>
      <li><a href="#projetos" [class.active]="isActive('projetos')" class="nav-item">Meus Projetos</a></li>
      <li><a href="#contato" [class.active]="isActive('contato')" class="nav-item">Contato</a></li>
    </ul>
  </nav>
</header>