<section id="projetos" class="section vh-200" data-aos="fade-right" data-aos-delay="150">
  <div class="container-title">
      <h2 class="title-project">PROJETOS</h2>
  </div>

  <div class="container-project" data-aos="fade-down-right" data-aos-delay="200">


      <!-- Card   -->
      <div class="cards" >
          <div class="card-img">
              <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
          </div>
          <div class="card-text">
              <h1 class="title-card">ImageApi-Full-Stack</h1>
              <p class="text-card">Ferramentas utilizadas: Java, Docker, Spring, React JS, Next.JS, JPA, Lombok,
                 JJWT e PostgresQL</p>
                <div class="botoes">
                  <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                    <button class="botao">Repositório</button> </a>

                  <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                    <button class="botao">Deploy </button> </a>
                </div>
          </div>
      </div>

            <!-- Card   -->
            <div class="cards">
              <div class="card-img">
                  <img src="./assets/projetos/swaggerbarbernet.png" alt="Web Front devBills">
              </div>
              <div class="card-text">
                  <h1 class="title-card">BarBernet-Back-End</h1>
                  <p class="text-card">Ferramentas utilizadas: Java, Spring, JPA, Lombok, Swagger, Spring Security
                     JWT e MySQL</p>
                    <div class="botoes">
                      <a class="botaoname" href="https://github.com/Diog007/barbernet-backend">
                        <button class="botao">Repositório</button> </a>
    
                      <a class="botaoname" href="#projetos">
                        <button class="botao">Sem Deploy </button> </a>
                    </div>
              </div>
          </div>

                <!-- Card   -->
      <div class="cards">
        <div class="card-img">
            <img src="./assets/projetos/swaggerclinic.png" alt="Web Front devBills">
        </div>
        <div class="card-text">
            <h1 class="title-card">Clinic-health Back-End</h1>
            <p class="text-card">Ferramentas utilizadas: Java, Spring, JPA, Lombok, Swagger, Spring Security
              JWT, Flyway Core e MySQL</p>
              <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/clinic-health-care">
                  <button class="botao">Repositório</button> </a>

                <a class="botaoname" href="#projetos">
                  <button class="botao">Sem Deploy </button> </a>
              </div>
        </div>
    </div>

          <!-- Card   -->
          <div class="cards">
            <div class="card-img">
                <img src="./assets/projetos/appRH.png" alt="Web Front devBills">
            </div>
            <div class="card-text">
                <h1 class="title-card">AppRH Full-Stack</h1>
                <p class="text-card">Ferramentas utilizadas: Java, Spring, Spring MVC, JPA, Lombok,
                  Banco H2, HTML e CSS</p>
                  <div class="botoes">
                    <a class="botaoname" href="https://github.com/Diog007/aplicationRH-backend">
                      <button class="botao">Repositório</button> </a>
  
                    <a class="botaoname" href="#projetos">
                      <button class="botao">Sem Deploy </button> </a>
                  </div>
            </div>
        </div>


              <!-- Card   -->
      <div class="cards">
        <div class="card-img">
            <img src="./assets/projetos/xadrez.png" alt="Web Front devBills">
        </div>
        <div class="card-text">
            <h1 class="title-card">Jogo de Xadrez</h1>
            <p class="text-card">Ferramentas utilizadas: Java</p>
              <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/chess-system-java?tab=readme-ov-file">
                  <button class="botao">Repositório</button> </a>

                <a class="botaoname" href="#projetos">
                  <button class="botao">Sem Deploy </button> </a>
              </div>
        </div>
    </div>

          <!-- Card   -->
          <div class="cards">
            <div class="card-img">
                <img src="./assets/projetos/ms.png" alt="Web Front devBills">
            </div>
            <div class="card-text">
                <h1 class="title-card">Card-microservices</h1>
                <p class="text-card">Ferramentas utilizadas: Java, Spring, Docker, RabbitMQ, PostgresQL, Lombok,
                   Keyclock e Swagger</p>
                  <div class="botoes">
                    <a class="botaoname" href="https://github.com/Diog007/Card-microservices-Spring-Boot">
                      <button class="botao">Repositório</button> </a>
  
                    <a class="botaoname" href="#projetos">
                      <button class="botao">Sem Deploy </button> </a>
                  </div>
            </div>
        </div>


              <!-- Card   -->
      <div class="cards">
        <div class="card-img">
            <img src="./assets/projetos/screen.png" alt="Web Front devBills">
        </div>
        <div class="card-text">
            <h1 class="title-card">ScreenMatch Back-End</h1>
            <p class="text-card">Ferramentas utilizadas: Java, Spring JPA, Lombok,
               PostgresQL, Api Openai</p>
              <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/screenmatch-backend">
                  <button class="botao">Repositório</button> </a>

                <a class="botaoname" href="#projetos">
                  <button class="botao">Sem Deploy </button> </a>
              </div>
        </div>
    </div>


          <!-- Card   -->
          <div class="cards">
            <div class="card-img">
                <img src="./assets/projetos/portifolio.png" alt="Web Front devBills">
            </div>
            <div class="card-text">
                <h1 class="title-card">Portifolio-web</h1>
                <p class="text-card">Ferramentas utilizadas: Angular</p>
                  <div class="botoes">
                    <a class="botaoname" href="https://github.com/Diog007/Portifolio">
                      <button class="botao">Repositório</button> </a>
  
                    <a class="botaoname" href="#projetos">
                      <button class="botao">Deploy </button> </a>
                  </div>
            </div>
        </div>

              <!-- Card   -->
      <div class="cards">
        <div class="card-img">
            <img src="./assets/projetos/assistech.png" alt="Web Front devBills">
        </div>
        <div class="card-text">
            <h1 class="title-card">Assisttech Back-End</h1>
            <p class="text-card">Ferramentas utilizadas: Java, Spring, JPA, Lombok, Spring Security
               JWT e PostgresQL</p>
              <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/assisttech-backend">
                  <button class="botao">Repositório</button> </a>

                <a class="botaoname" href="#projetos">
                  <button class="botao">Sem Deploy</button> </a>
              </div>
        </div>
    </div>

          <!-- Card   -->
          <div class="cards">
            <div class="card-img">
                <img src="./assets/projetos/buyeasy.png" alt="Web Front devBills">
            </div>
            <div class="card-text">
                <h1 class="title-card">ImageApi-Full-Stack</h1>
                <p class="text-card">Ferramentas utilizadas: Java, Spring, JPA, Lombok,
                   MySQL</p>
                  <div class="botoes">
                    <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                      <button class="botao">Repositório</button> </a>
  
                    <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                      <button class="botao">Deploy </button> </a>
                  </div>
            </div>
        </div>




  </div>
</section>


