<section id="projetos" class="section vh-200">
  <div class="container-title">
      <h2 class="title-project">💻 PROJETOS DE DESENVOLVIMENTO</h2>
      <p class="subtitle-project">Projetos desenvolvidos antes da transição para a área de Cibersegurança.</p>
  </div>

  <div class="container-project">

      <!-- ImageApi Full-Stack -->
      <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="100">
          <div class="card-img">
              <img src="./assets/projetos/imagelite.png" alt="ImageApi Full-Stack">
          </div>
          <div class="card-text">
              <h1 class="title-card">ImageApi-Full-Stack 🔒</h1>
              <p class="text-card">Stack: Java, Docker, Spring, React, Next.JS, JWT, PostgresQL</p>
              <div class="botoes">
                  <a href="https://github.com/Diog007/ImageLiteApi-backend">
                    <button class="botao">📂 Repositório</button>
                  </a>
                  <a href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                    <button class="botao">🌍 Deploy</button>
                  </a>
              </div>
          </div>
      </div>

      <!-- BarberNet Back-End -->
      <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="150">
          <div class="card-img">
              <img src="./assets/projetos/swaggerbarbernet.png" alt="BarberNet Back-End">
          </div>
          <div class="card-text">
              <h1 class="title-card">BarBernet-Back-End 🛡️</h1>
              <p class="text-card">Stack: Java, Spring, JPA, Lombok, Swagger, Spring Security, JWT</p>
              <div class="botoes">
                  <a href="https://github.com/Diog007/barbernet-backend">
                    <button class="botao">📂 Repositório</button>
                  </a>
                  <a href="#projetos">
                    <button class="botao">🚫 Sem Deploy</button>
                  </a>
              </div>
          </div>
      </div>

      <!-- BarberNet Front-End -->
      <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="200">
          <div class="card-img">
              <img src="./assets/projetos/barberfront.jpg" alt="BarberNet Front-End">
          </div>
          <div class="card-text">
              <h1 class="title-card">BarBernet-Front-End 🎨</h1>
              <p class="text-card">Stack: Angular, Angular Material, Angular JWT, NGX-Mask</p>
              <div class="botoes">
                  <a href="https://github.com/Diog007/BarberNet-Front-End">
                    <button class="botao">📂 Repositório</button>
                  </a>
                  <a href="#projetos">
                    <button class="botao">🚫 Sem Deploy</button>
                  </a>
              </div>
          </div>
      </div>

      <!-- Clinic-health Back-End -->
      <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="250">
          <div class="card-img">
              <img src="./assets/projetos/swaggerclinic.png" alt="Clinic-health Back-End">
          </div>
          <div class="card-text">
              <h1 class="title-card">Clinic-health Back-End</h1>
              <p class="text-card">Stack: Java, Spring, JPA, Lombok, Swagger, Spring Security, MySQL</p>
              <div class="botoes">
                  <a href="https://github.com/Diog007/clinic-health-care">
                    <button class="botao">📂 Repositório</button>
                  </a>
                  <a href="#projetos">
                    <button class="botao">🚫 Sem Deploy</button>
                  </a>
              </div>
          </div>
      </div>

      <!-- AppRH Full-Stack -->
      <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="300">
          <div class="card-img">
              <img src="./assets/projetos/appRH.png" alt="AppRH Full-Stack">
          </div>
          <div class="card-text">
              <h1 class="title-card">AppRH Full-Stack 🏢</h1>
              <p class="text-card">Stack: Java, Spring, Spring MVC, JPA, Lombok, Banco H2, HTML, CSS</p>
              <div class="botoes">
                  <a href="https://github.com/Diog007/aplicationRH-backend">
                    <button class="botao">📂 Repositório</button>
                  </a>
                  <a href="#projetos">
                    <button class="botao">🚫 Sem Deploy</button>
                  </a>
              </div>
          </div>
      </div>

      <!-- Jogo de Xadrez -->
      <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="350">
          <div class="card-img">
              <img src="./assets/projetos/xadrez.png" alt="Jogo de Xadrez">
          </div>
          <div class="card-text">
              <h1 class="title-card">Jogo de Xadrez ♟️</h1>
              <p class="text-card">Stack: Java, Spring Boot</p>
              <div class="botoes">
                  <a href="https://github.com/Diog007/chess-system-java?tab=readme-ov-file">
                    <button class="botao">📂 Repositório</button>
                  </a>
                  <a href="#projetos">
                    <button class="botao">🚫 Sem Deploy</button>
                  </a>
              </div>
          </div>
      </div>

      <!-- Card-microservices -->
      <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="400">
          <div class="card-img">
              <img src="./assets/projetos/ms.png" alt="Microservices">
          </div>
          <div class="card-text">
              <h1 class="title-card">Card-microservices ⚙️</h1>
              <p class="text-card">Stack: Java, Spring, Docker, RabbitMQ, Keycloak, Swagger</p>
              <div class="botoes">
                  <a href="https://github.com/Diog007/Card-microservices-Spring-Boot">
                    <button class="botao">📂 Repositório</button>
                  </a>
                  <a href="#projetos">
                    <button class="botao">🚫 Sem Deploy</button>
                  </a>
              </div>
          </div>
      </div>

      <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="450">
        <div class="card-img">
            <img src="./assets/projetos/buyeasy.png" alt="Microservices">
        </div>
        <div class="card-text">
            <h1 class="title-card">BuyEasy Back-End ⚙️</h1>
            <p class="text-card">Ferramentas utilizadas: Java, Spring, JPA, Lombok,
              MySQL</p>
            <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/buyeasy-backend">
                  <button class="botao">📂 Repositório</button>
                </a>
                <a href="#projetos">
                  <button class="botao">🚫 Sem Deploy</button>
                </a>
            </div>
        </div>
    </div>

    <div class="cards cyber-card" data-aos="fade-down-right" data-aos-delay="500">
      <div class="card-img">
          <img src="./assets/projetos/portifolio.png" alt="Microservices">
      </div>
      <div class="card-text">
          <h1 class="title-card">Portifolio-web</h1>
          <p class="text-card">Ferramentas utilizadas: Angular</p>
          <div class="botoes">
              <a href="https://github.com/Diog007/Portifolio">
                <button class="botao">📂 Repositório</button>
              </a>
              <a href="#projetos">
                <button class="botao">🚫 Sem Deploy</button>
              </a>
          </div>
      </div>
  </div>

  </div>
</section>
