<section id="projetos" class="section vh-200" data-aos="fade-right" data-aos-delay="150">
  <div class="container-title">
      <h2 class="title-project">PROJETOS</h2>
  </div>

  <div class="container-project" data-aos="fade-down-right" data-aos-delay="200">

      <!-- Card   -->
      <div class="cards" >
          <div class="card-img">
              <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
          </div>
          <div class="card-text">
              <h1 class="title-card">ImageApi-Full-Stack</h1>
              <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
                 JJWT e PostgresQL</p>
                <div class="botoes">
                  <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                    <button class="botao">Repositório</button> </a>

                  <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                    <button class="botao">Deploy </button> </a>
                </div>
          </div>
      </div>

            <!-- Card   -->
            <div class="cards">
              <div class="card-img">
                  <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
              </div>
              <div class="card-text">
                  <h1 class="title-card">ImageApi-Full-Stack</h1>
                  <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
                     JJWT e PostgresQL</p>
                    <div class="botoes">
                      <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                        <button class="botao">Repositório</button> </a>
    
                      <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                        <button class="botao">Deploy </button> </a>
                    </div>
              </div>
          </div>

                <!-- Card   -->
      <div class="cards">
        <div class="card-img">
            <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
        </div>
        <div class="card-text">
            <h1 class="title-card">ImageApi-Full-Stack</h1>
            <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
               JJWT e PostgresQL</p>
              <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                  <button class="botao">Repositório</button> </a>

                <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                  <button class="botao">Deploy </button> </a>
              </div>
        </div>
    </div>

          <!-- Card   -->
          <div class="cards">
            <div class="card-img">
                <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
            </div>
            <div class="card-text">
                <h1 class="title-card">ImageApi-Full-Stack</h1>
                <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
                   JJWT e PostgresQL</p>
                  <div class="botoes">
                    <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                      <button class="botao">Repositório</button> </a>
  
                    <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                      <button class="botao">Deploy </button> </a>
                  </div>
            </div>
        </div>


              <!-- Card   -->
      <div class="cards">
        <div class="card-img">
            <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
        </div>
        <div class="card-text">
            <h1 class="title-card">ImageApi-Full-Stack</h1>
            <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
               JJWT e PostgresQL</p>
              <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                  <button class="botao">Repositório</button> </a>

                <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                  <button class="botao">Deploy </button> </a>
              </div>
        </div>
    </div>

          <!-- Card   -->
          <div class="cards">
            <div class="card-img">
                <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
            </div>
            <div class="card-text">
                <h1 class="title-card">ImageApi-Full-Stack</h1>
                <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
                   JJWT e PostgresQL</p>
                  <div class="botoes">
                    <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                      <button class="botao">Repositório</button> </a>
  
                    <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                      <button class="botao">Deploy </button> </a>
                  </div>
            </div>
        </div>


              <!-- Card   -->
      <div class="cards">
        <div class="card-img">
            <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
        </div>
        <div class="card-text">
            <h1 class="title-card">ImageApi-Full-Stack</h1>
            <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
               JJWT e PostgresQL</p>
              <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                  <button class="botao">Repositório</button> </a>

                <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                  <button class="botao">Deploy </button> </a>
              </div>
        </div>
    </div>


          <!-- Card   -->
          <div class="cards">
            <div class="card-img">
                <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
            </div>
            <div class="card-text">
                <h1 class="title-card">ImageApi-Full-Stack</h1>
                <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
                   JJWT e PostgresQL</p>
                  <div class="botoes">
                    <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                      <button class="botao">Repositório</button> </a>
  
                    <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                      <button class="botao">Deploy </button> </a>
                  </div>
            </div>
        </div>

              <!-- Card   -->
      <div class="cards">
        <div class="card-img">
            <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
        </div>
        <div class="card-text">
            <h1 class="title-card">ImageApi-Full-Stack</h1>
            <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
               JJWT e PostgresQL</p>
              <div class="botoes">
                <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                  <button class="botao">Repositório</button> </a>

                <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                  <button class="botao">Deploy </button> </a>
              </div>
        </div>
    </div>

          <!-- Card   -->
          <div class="cards">
            <div class="card-img">
                <img src="./assets/projetos/imagelite.png" alt="Web Front devBills">
            </div>
            <div class="card-text">
                <h1 class="title-card">ImageApi-Full-Stack</h1>
                <p class="text-card">Ferramentas utilizadas: Java, Spring, React JS, Next.JS, JPA, Lombok,
                   JJWT e PostgresQL</p>
                  <div class="botoes">
                    <a class="botaoname" href="https://github.com/Diog007/ImageLiteApi-backend">
                      <button class="botao">Repositório</button> </a>
  
                    <a class="botaoname" href="http://ec2-3-129-57-99.us-east-2.compute.amazonaws.com:3000/login">
                      <button class="botao">Deploy </button> </a>
                  </div>
            </div>
        </div>





  </div>
</section>


