#projetos {
  padding-left: 190px;
  padding-right: 160px;
  padding-top: 100px;
  background-color: #2f647f;
  height: 100vh;

}

.botoes {
  gap: 1px;
  display: flex;
}

.container-title {
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.title-project {
  font-weight: 700;
  width: 50%;
  font-size: 50px;
}

.container-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  
}

.cards {
  width: 250px;
  height: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: #4b3094;
  background: #e63010;
  transition: 0.6s;
  background-color: #ddecebed ;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
}

.cards:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.card-img img {
  width: 250px;
  height: 160px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.title-card {
  font-size: 24px;
  color: #e63010;
  font-weight: 600;
}

.text-card {
  font-size: 15px;
  color: var(--text-color);
  font-weight: 600;
  width: 80%;
  text-align: center;
}

.botoes {
  display: flex;
  justify-content: center; 
  gap: 25px;
  margin-top: 12px; 
}

.botaoname {
  text-decoration: none; 
}

.botao {

  display: inline-block;
  padding: 8px 6px; 
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg, hsl(191, 83%, 28%) 35%, rgba(55, 39, 104, 0.655) 100%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
  background-color: #6741c7;
  transform: scale(1.05);
}

.botao:active {
  background-color: #4b3094; 
  transform: scale(0.95); 
}














