    <div>
        <h1>
            Sobre mim
        </h1>
    </div>
<section>
        <div class="pri">
            <span class="main-content">SOFTWARE DEVELOPER</span>
            <h1>Diogo Nascimento</h1>
                <p>👨‍💻 Diogo do Nascimento 🎓 Student of Systems Analysis and Development at Uninove University 
                🔍 Passionate about programming and system development, with a specialized focus on back-end 
                📚 Enhancing skills at Alura, focusing on back-end and Java 
                💼 Practical experience with technologies such as Spring Boot, Spring MVC, MySQL, PostgreSQL, Git, and AWS EC2 
                💡 Capable of developing robust and scalable solutions for challenging projects
                </p>
                <btn-primary text="Download cv"></btn-primary>
        </div>
        <main-animation class="image"></main-animation>
</section>
