<section id="home">
    <div class="container">
        <div class="text-image">
            <div class="text-botao">
                <div>
                    <h1 class="nome">Diogo do Nascimento Pereira</h1>
                    <h2>Desenvolvedor Back-End Java</h2>
                </div>
            </div>
            <div>
                <img class="image" src="https://media.giphy.com/media/dWesBcTLavkZuG35MI/giphy.gif">
            </div>
        </div>
        <div class="botoes">
            <a href="https://github.com/Diog007">
                <button class="botao">
                    <img src="./assets/github.png" alt="GitHub" class="botao-icon"> GitHub
                </button>
            </a>
            <button class="botao">
                <img src="./assets/linkedin.png" alt="linkedin" class="botao-icon"> Linkedin
            </button>
            <button class="botao">
                <img src="./assets/curriculo.png" alt="curriculo" class="botao-icon"> Corrículo
            </button>
        </div>
    </div>
</section>
