<section id="home">
  <div class="container">
    <div class="text-image">
      <div class="text-content">
        <h1 class="name" data-aos="fade-up-right" data-aos-delay="200">Diogo do Nascimento Pereira</h1>
        <h2 class="subtitle" data-aos="fade-up-right" data-aos-delay="400">Desenvolvedor Back-End Java</h2>
      </div>
      <div class="image-content">
        <img
          src="https://media.giphy.com/media/dWesBcTLavkZuG35MI/giphy.gif"
          alt="Imagem de Perfil"
          class="profile-image"
          data-aos="fade-up-right"
          data-aos-delay="400"
        />
      </div>
    </div>
    <div class="buttons">
      <a href="https://github.com/Diog007" class="button" data-aos="fade-up-right" data-aos-delay="200" target="_blank">
        <img src="./assets/github.png" alt="GitHub" class="button-icon" /> GitHub
      </a>
      <a href="https://www.linkedin.com/in/diogo-do-nascimento-68a837214/" class="button" data-aos="fade-up-right" data-aos-delay="400" target="_blank">
        <img src="./assets/linkedin.png" alt="LinkedIn" class="button-icon" /> LinkedIn
      </a>
      <a href="assets/curriculo/curriculo.pdf" class="button" data-aos="fade-up-right" data-aos-delay="600" download="Curriculo_Diogo_Nascimento_Pereira.pdf">
        <img src="./assets/curriculo.png" alt="Currículo" class="button-icon" /> Currículo
      </a>
    </div>
    
  </div>
</section>
