<section id="home">
    <div class="container">
      <div class="text-image">
        <div class="text-botao">
          <div>
            <h1 data-aos="fade-up-right" data-aos-delay="200" class="nome">Diogo do Nascimento Pereira</h1>
            <h2 data-aos="fade-up-right" data-aos-delay="400">Desenvolvedor Back-End Java</h2>
          </div>
        </div>
        <div>
          <img data-aos="fade-up-right" data-aos-delay="400" class="image" src="https://media.giphy.com/media/dWesBcTLavkZuG35MI/giphy.gif" alt="Profile Image">
        </div>
      </div>
      <div class="botoes">
        <a href="https://github.com/Diog007">
          <button data-aos="fade-up-right" data-aos-delay="200" class="botao">
            <img data-aos="fade-up-right" data-aos-delay="400" src="./assets/github.png" alt="GitHub" class="botao-icon"> GitHub
          </button>
        </a>
        <a href="https://www.linkedin.com/in/diogo-do-nascimento-68a837214/">
          <button data-aos="fade-up-right" data-aos-delay="400" class="botao">
            <img data-aos="fade-up-right" data-aos-delay="600" src="./assets/linkedin.png" alt="LinkedIn" class="botao-icon"> LinkedIn
          </button>
        </a>
        <a href="./assets/curriculo.pdf">
          <button data-aos="fade-up-right" data-aos-delay="600" class="botao">
            <img data-aos="fade-up-right" data-aos-delay="800" src="./assets/curriculo.png" alt="Currículo" class="botao-icon"> Currículo
          </button>
        </a>
      </div>
    </div>
  </section>
  