.formacao {
  background-color: #2f647f;
  padding-top: 400px;
}


  
  .titulo-section {
    position: relative;
    top: -2em;
    background: #000000;
    -webkit-background-clip: text;
    display: flex;
    font-size: 52px;
    margin: 0 auto; 
    width: fit-content; 
    margin-top: 1px;
  }
  
  .cards-container {
    top: -1em;
  }
  
  .formacao-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

  
  .formacao-card {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    width: 35vw;
    height: 160px;
    display: flex;
    flex-direction: row;
    list-style: none;
    list-style-type: none;
    box-shadow: 0 10px 20px rgba(32, 23, 38, 0.5);
    background-color: #182b369b;
    border-right: 1px solid rgba(24, 7, 7, 0.5);
    border-bottom: 1px solid rgba(206, 9, 9, 0.5);
    margin: 1em 0;
    transition: all .3s;
  }
  
  .formacao-card-img>img {
    object-fit: cover;
    height:200px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    max-height: 100%;
  }
  
  .formacao-card-content {
    padding: .7em;
    width: 100%;
  }
  
  .formacao-card-content h3 {
    font-size: 36px;
  }
  
  .text {
    color: #c2c0c0;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
  }
  
  .encerra {
    font-size: 16px;
    position: relative;
    top: -.5em;
  }
  
  .content {
    position: relative;
  }
  