.formacao {
  background-color: #ffffff;
  padding-top: 210px;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}

.titulo-section {
  position: relative;
  top: -1em;
  background: #000000;
  -webkit-background-clip: text;
  display: flex;
  font-size: 52px;
  margin: 0 auto; 
  width: fit-content; 
  margin-top: 1px;
}

.cards-container {
  top: -1em;
}

.formacao-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  padding: 0;
}

.formacao-card {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  width: 40vw;
  height: 160px;
  display: flex;
  flex-direction: row;
  list-style: none;
  box-shadow: 0 10px 20px rgba(32, 23, 38, 0.5);
  background-color: #acacac;
  border-right: 1px solid rgba(24, 7, 7, 0.5);
  border-bottom: 1px solid rgba(42, 12, 88, 0.348);
  margin: 1em auto;
  transition: all .3s;
}

.formacao-card-img > img {
  object-fit: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.formacao-card-content {
  padding: .7em;
  width: 100%;
  
}

.formacao-card-content h3 {
  font-size: 36px;
}

.text {
  color: #c2c0c0;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

.encerra {
  font-size: 16px;
  position: relative;
  top: -.5em;
}

.content {
  position: relative;
}

.botao {

  display: inline-block;
  padding: 8px 6px; 
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg, hsl(191, 83%, 28%) 35%, rgba(55, 39, 104, 0.655) 100%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
  background-color: #6741c7;
  transform: scale(1.05);
}

.botao:active {
  background-color: #4b3094; 
  transform: scale(0.95); 
}