<section id="formacao" class="formacao section vh-100">
  
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 data-aos="fade-down-right" data-aos-delay="200" class="titulo-section">🎓 Formação</h2>
  </div>

  <div class="cards-container">
    <ul class="formacao-cards">
      <!-- Universidade -->
      <li data-aos="fade-down-right" data-aos-delay="100" class="formacao-card">
        <div class="formacao-card-img">
          <img src="./assets/uninove.png" alt="Imagem da Instituição">
        </div>
        <div class="formacao-card-content">
          <h3>Universidade Nove de Julho</h3>
          <p class="text">Análise e Desenvolvimento de Sistemas</p>
          <span class="encerra">2024 | Em andamento</span>
        </div>
      </li>
      
      <!-- Alura -->
      <li data-aos="fade-down-right" data-aos-delay="200" class="formacao-card">
        <div class="formacao-card-img">
          <img src="./assets/alura.webp" alt="Imagem da escola de tecnologia">
        </div>
        <div class="formacao-card-content">
          <h3>Alura</h3>
          <p class="text">Desenvolvedor Java</p>
          <span class="encerra">Jan 2024 - Jan 2025</span>
          <div class="botoes">
            <a class="botaoname" href="https://www.linkedin.com/in/diogo-nasci/details/certifications/">
              <button class="botao">Certificados</button>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</section>
