
<header class="navbar-container">
  <nav class="navbar">
    <div class="logo">
      <img src="./assets/logo1.png" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a href="/home" [class.active]="isActive('home')" class="nav-item">Home</a></li>
      <li><a href="/home" [class.active]="isActive('sobre')" class="nav-item">Sobre Mim</a></li>
      <li><a href="/home" [class.active]="isActive('certificados')" class="nav-item">Certificações</a></li>
      <li><a href="/home" [class.active]="isActive('skills')" class="nav-item">Skills</a></li>
      <li><a href="/home" [class.active]="isActive('formacao')" class="nav-item">Formação</a></li>
      <li><a href="/home" [class.active]="isActive('projetos')" class="nav-item">Meus Projetos</a></li>
      <li><a href="/home" [class.active]="isActive('contato')" class="nav-item">Contato</a></li>
    </ul>
  </nav>
</header>
<section id="certificado" class="section vh-200">
  <div class="container-title">
    <h2 class="title-project">🎓 CERTIFICAÇÕES & CURSOS</h2>
  </div>

  <div class="container-project">
    <div *ngFor="let certificado of certificados; let i = index" 
         class="cards cyber-card" data-aos="fade-up" >
      <div class="card-text">
        <img [src]="certificado.logo" [alt]="certificado.titulo" class="cert-logo" (click)="openImage(certificado.logo)">
        <h1 class="title-card">{{ certificado.titulo }}</h1>
        <p class="text-card">{{ certificado.empresa }}</p>
        <p class="text-card">Emitido em: {{ certificado.data }}</p>
        <a *ngIf="certificado.link" [href]="certificado.link" target="_blank">
          <button class="botao">🔗 Ver Credencial</button>
        </a>
      </div>
    </div>
  </div>

  <!-- Overlay para exibir a imagem ampliada -->
  <div class="overlay"  data-aos="fade" data-aos-delay="150"  *ngIf="isImageOpen">
    <div class="overlay-content">
      <img [src]="selectedImage" alt="Imagem Ampliada" class="overlay-image">
      <button class="close-overlay" (click)="closeImage()">Fechar</button>
    </div>
  </div>
</section>



<app-footer></app-footer>