#sobre {
  background-color: #f0f4f8;
  padding: 100px 20px;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}

.container-title {
  text-align: center;
  margin-bottom: 50px;
}

.title-about {
  color: #333;
  font-size: 45px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.title-about::after {
  content: '';
  width: 50px;
  height: 4px;
  background-color: #477c97;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.container-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.foto {
  flex: 1;
  max-width: 460px;
}

.my-foto {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-text {
  flex: 2;
  max-width: 600px;
}

.bem-vindos {
  color: #477c97;
  font-size: 28px;
  margin-bottom: 20px;
}

.text-about {
  color: #555;
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.linha {
  margin: 60px auto 0;
  width: 80%;
  border-bottom: 2px solid #ccc;
}

@media only screen and (max-width: 767px) {
  .container-about {
      flex-direction: column;
      align-items: center;
  }

  .foto, .container-text {
      max-width: 100%;
  }

  .bem-vindos {
      font-size: 24px;
  }

  .text-about {
      font-size: 16px;
  }

  .linha {
      width: 90%;
  }
}
