<section id="sobre">
    <div class="container-title">
        <h2 data-aos="fade-down-right" data-aos-delay="200" class="title-about">SOBRE MIM</h2>
    </div>
    <div  class="container-about">
        <div class="container-text">
            <h2 class="bem-vindos">Sejam bem-vindos ao meu Portfólio!</h2>
            <p data-aos="fade-down-right" data-aos-delay="300" class="text-about">
                Olá! Sou Diogo do Nascimento, um estudante de tecnologia apaixonado por programação 
                e desenvolvimento de sistemas, com foco especializado em back-end. Atualmente, estou
                cursando Análise e Desenvolvimento de Sistemas na Faculdade Uninove, onde estou
                mergulhando fundo nos fundamentos e práticas essenciais dessa área.
            </p>
            <p data-aos="fade-down-right" data-aos-delay="400" class="text-about">
                Além disso, estou buscando aprimorar minhas habilidades. Dedico-me aos estudos na Alura,
                com um foco especial em back-end, especialmente em Java. Tenho experiência prática com 
                tecnologias como Spring Boot, Spring MVC, MySQL, PostgreSQL, Git e AWS EC2. Essas 
                ferramentas me capacitam a desenvolver soluções robustas e escaláveis, capazes de 
                atender às demandas dos projetos mais desafiadores.
            </p>
        </div>
        <div class="foto">
            <img data-aos="fade-right" data-aos-delay="200" class="my-foto" src="./assets/eu.jpg" alt="Foto Dalio">
        </div>
    </div>
    <div class="linha"></div>
</section>
