#sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #477c97;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
  
    height: 100vh;
  }

  .container-title {
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .title-about,
  .title-contact {
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 70%;
    font-size: 46px;
  }
  
  .container-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .my-foto {
    width: 450px;
    margin-right: 90px;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
  }
  
  .container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 120px;
  }
  
  .bem-vindos {
    color: rgb(0, 0, 0);
    line-height: 60px;
    font-size: 28px;
  }
  
  .text-about {
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 600px;
    line-height: 32px;
    text-indent: 1.4em;
    font-size: 24px;
  }
  
  .curriculo-button {
    background-color: white;
    color: black;
    font-weight: 800;
  }
  
  .curriculo-button:hover {
    box-shadow: 1px 7px 25px 1px rgba(255, 255, 255, 0.8);
    color: white;
    border: none;
  }
  
  .curriculo-button:active {
    opacity: 0.7;
  }

  .linha {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 70%;
    padding-top: 25px;
    margin-left: 310px;
}