<section id="skills" class="skills section vh-100">

    <h2 class="titulo-section">Minhas Habilidades</h2>
    <div data-aos="zoom-in-up" class="d-flex justify-content-center">
      <div class="skills-container">
        <div class="hard-skills">
          <div class="hard-container">
            <div data-aos="fade-down" data-aos-delay="100" class="cards">
              <a href="https://docs.oracle.com/en/java/" target="_blank">
                <div class="card">
                  <img src="./assets/skills/java.png" class="imagemSkill">
                </div>
              </a>
            </div>
          </div>
          
          <div data-aos="fade-down" data-aos-delay="200" class="cards">
              <a href="https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/" target="_blank">
                <div class="card">
                  <img src="./assets/skills/spring.png" class="imagemSkill">
                </div>
              </a>
          </div>

          <div data-aos="fade-down" data-aos-delay="200" class="cards">
            <a href="https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/" target="_blank">
              <div class="card">
                <img src="./assets/skills/Docker.svg" class="imagemSkill">
              </div>
            </a>
        </div>

        <div data-aos="fade-down" data-aos-delay="200" class="cards">
          <a href="https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16" target="_blank">
            <div class="card">
              <img src="./assets/skills/SQL.png" class="imagemSkill">
            </div>
          </a>
      </div>

        <div data-aos="fade-down" data-aos-delay="200" class="cards">
          <a href="https://git-scm.com/doc" target="_blank">
            <div class="card">
              <img src="./assets/skills/git.png" class="imagemSkill">
            </div>
          </a>
        </div>

        <div data-aos="fade-down" data-aos-delay="200" class="cards">
          <a href="https://git-scm.com/doc" target="_blank">
            <div class="card">
              <img src="./assets/skills/github.png" class="imagemSkill">
            </div>
          </a>
        </div>

          <div data-aos="fade-down" data-aos-delay="200" class="cards">
          <a href="https://git-scm.com/doc" target="_blank">
            <div class="card">
              <img src="./assets/skills/AWS.png" class="imagemSkill">
            </div>
          </a>
        </div>

        <div data-aos="fade-down" data-aos-delay="200" class="cards">
          <a href="https://git-scm.com/doc" target="_blank">
            <div class="card">
              <img src="./assets/skills/angular.png" class="imagemSkill">
            </div>
          </a>
        </div>

        </div>
      </div>
    </div>
  </section>
  