<section id="skills" class="skills section vh-100">
  <h2  class="titulo-section">🔒 MINHAS HABILIDADES</h2>
  <div data-aos="fade-down-right" data-aos-delay="100" class="skills-container">
      <div class="cyber-skills">
          
          <div data-aos="fade-down-right" data-aos-delay="100" class="skill-category">
              <h3 class="category-title">🛡 Blue Team & Segurança Defensiva</h3>
              <div class="skill-grid">
                <div class="skill-card">
                  <img src="./assets/skills/wazuha.png" alt="WAZUH">
                  <span>Wazuh</span>
              </div>
                  <div class="skill-card">
                    <img src="./assets/skills/splunk.png" alt="splunk">
                      <span>Splunk (SIEM)</span>
                  </div>

                  <div class="skill-card">
                      <img src="./assets/skills/wireshark.png" alt="Wireshark">
                      <span>Wireshark</span>
                  </div>
              </div>
          </div>

          <div data-aos="fade-down-right" data-aos-delay="150" class="skill-category">
              <h3 class="category-title">🛠 Ferramentas e Protocolos</h3>
              <div class="skill-grid">
                  <div class="skill-card">
                      <img src="./assets/skills/nmap.png" alt="Nmap">
                      <span>Nmap</span>
                  </div>
                  <div class="skill-card">
                      <img src="./assets/skills/kali.png" alt="Kali Linux">
                      <span>Kali Linux</span>
                  </div>
                  <div class="skill-card">
                      <img src="./assets/skills/docker.png" alt="docker">
                      <span>Docker </span>
                  </div>
              </div>
          </div>

          
          <div data-aos="fade-down-right" data-aos-delay="200" class="skill-category">
            <h3 class="category-title">☁️ Cloud Security</h3>
            <div class="skill-grid">
                <div class="skill-card">
                    <img src="./assets/skills/awss.png" alt="AWS Security">
                    <span>AWS Security</span>
                </div>
            </div>
        </div>

      </div>
  </div>
</section>
