* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .section {
    padding: 30em 0 2em;
    overflow: hidden;
    height: 100vh;
    min-height: 100vh;
  }
  
  .titulo-section {
    text-align: center;
    position: relative;
  }